/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    position: absolute;
    display: block;
    z-index: 1001;
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
}
[tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: calc(100% + 3px);
    border-bottom-width: 0;
    border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 8px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: calc(100% + 3px);
    border-top-width: 0;
    border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
    top: calc(100% + 8px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  right: calc(100% + 3px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 8px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  left: calc(100% + 3px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 8px);
  transform: translate(.5em, -50%);
}

/* HOVER-ANIMATIONS: */

/* For all directions */ 
[tooltip]::before,
[tooltip]::after {
  opacity: 0;
  transition: all .1s ease-out;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  opacity: .9;
  transition: all .3s ease-out;
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  transform: translate(-50%, 5px);
}
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after {
  transform: translate(-50%, 0);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  transform: translate(-50%, -5px);
}
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  transform: translate(-50%, 0);
}

[tooltip][flow^="left"]::before,
[tooltip][flow^="left"]::after {
  transform: translate(5px, -50%);
}
[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after {
  transform: translate(0, -50%);
}

[tooltip][flow^="right"]::before,
[tooltip][flow^="right"]::after {
  transform: translate(-5px, -50%);
}
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  transform: translate(0, -50%);
}


/* Hack to get tooltips on elements that can't have pseudo-elements: */
.tt[tooltip] { /* just put a div with the class ".tt" around the element */
	display: inline-block;
}

/* Special design of the red error-tooltips: */
.tt-err[tooltip]::before {
    border-top-color: #c00;
}
.tt-err[tooltip]::after {
    background-color: #c00;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffffff' d='M256 48C141.6 48 48 141.601 48 256s93.6 208 208 208 208-93.601 208-208S370.4 48 256 48zm24 312h-48v-40h48v40zm0-88h-48V144h48v128z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 7px center;
    padding-left: calc(3ch + 7px);
}